
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.show-secrets-button {
  display: block;
  width: 20%;
  margin: auto;
  margin-top: 20px;
}
